.form {
    flex: auto;
    flex-direction: column;
    background-color: rgb(255, 115, 0);
    padding: 20px;
    margin-top: 700px;
    width: 700px;
    border-radius: 10px;
    z-index: 1;
    margin: 120px auto;
}

.form input {
    display: block;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #000000;
}

input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 14px;
}

.form button {
    display: block;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    background: #ff5900;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
}




